.container-login{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    border-radius: 8px;
    min-height: 300px;
    min-width: 300px;
}

.title{
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
}
